﻿@model ML.Alumno
@{
    ViewBag.Title = "GetAllAlumno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Alumno</h2>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-6">
            @if (Model.Alumnos != null)
            {
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <td class="text-center" style=" font-weight:bold;">Materias</td>

                            <td class="text-center" style=" font-weight:bold;">Nombre</td>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (ML.Alumno alumno in Model.Alumnos)
                        {
                            <tr>
                                <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-book" href="@Url.Action("TablaMaterias", "AlumnoMateria", new { IdAlumno = alumno.IdAlumno })"></a></td>

                                <td class="text-center">@alumno.Nombre @alumno.ApellidoPaterno @alumno.ApellidoMaterno</td>

                            </tr>
                        }
                    </tbody>
                </table>


            }
            else
            {
                <div class="alert alert-danger" role="alert">Ocurrio un error al realizar la consulta </div>
            }
        </div>
    </div>
</div>

